# ignore list in Python

### Pycache ###
*.pyc

### dll library ###
*.pyd

### C++ object ###
*.o

### generated CXX file in SWIG ###
*.cxx

### Project files ###
*.project
*.pydevproject
*.prefs

### image files ###
*.png
*.jpg
*.jpeg
*.gif
*.bmp